/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 17, 2026, 2:50:00 PM
    Author     : admin
*/

.Container {
    -fx-background-color: #121212;
    -fx-text-align: center;
    -fx-alignment: center;
    -fx-padding: 10;
    -fx-Spacing: 25;
}
.Subject {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: #FFFFFF;
    -fx-stroke-width: 2.5;
    -fx-stroke: gold;    
}
.Button {
    -fx-background-color: #333333;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-padding: 8;
    -fx-pref-width: 250;
}